# python
__pycache__/
*.pyc
.venv/
.env
.env.*

# editors
.vscode/
.idea/
*.code-workspace
.editorconfig


src\provas.egg-info
src/provas/export_json.py
src/provas/ocr.py
src/provas/schema.py
# images (if they are huge, track with LFS instead)
# provas/**/images/
